################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mygitapp/.vs/mygitapp/FileContentIndex
/mygitapp/.vs/mygitapp/DesignTimeBuild/.dtbcache.v2
